<%- include('partials/header.ejs') %>
        
    <div class="hjelpDiv">
   
        <h1>Nettside guide</h1>

        <h2 class="hjelpHead">- Hvordan logge seg på:</h2>
        <h4 class="hjelpText">Øvest på høre side av skjermen bør det være en link som heter "log in" og "sign up" <br> Gå inn på den linken som passer deg, endten log in om du har en bruker eller meld deg påom du ikke har det</h4>
        <img class="hjelpImg" src="/images/Ikke logget inn.png" alt="">
        <h2 class="hjelpHead" >- Hvordan logge seg ut:</h2>
        <h3 class="hjelpText" >Der hvor det tidligere sto "log in" og "sign up" står det nå eposten du har <br> logget inn med og en log out link, om du trykker på linken blir du sendt til forsiden og du er nå logget ut</h4>
        <img class="hjelpImg" src="images/logget inn" alt="">
        <h2  class="hjelpHead">- Hvordan lage quotes:</h2>
        <h3  class="hjelpText">Øvest på midten av skjermen står det Quotes med hvit tekst, om du trykker på den (og du er logget inn) <br> blir du tatt med til en side hvor du kan lage quotes. Om du ikke er logget in blir du tatt med til login siden.</h4>
        <img  class="hjelpImg" src="images/quotes.png" alt="">
    </div>

<%- include('partials/footer.ejs') %>