<%- include('partials/header.ejs') %>
    <%if(Items.length > 0){%>
        <%Items.forEach(item => {%>
            <div class="item-content">

                <div>
                    <i class="quoteText">"<%=item.quote%>"</i>
                    <p class="authorText"><%=item.author%></p>
                </div>
            </div>
        <%})%>
    <%} else {%>
        <p>There is nothing to display</p>
    <%}%>
<%- include('partials/footer.ejs') %>