<%- include('partials/header.ejs') %>
    <%if(Items.length > 0){%>
        <%Items.forEach(item => {%>
            <div class="item-content">

                <div>
                    <h1 class="quoteText">"<%=item.quote%>"</h1>
                    <p class="authorText"><%=item.author%></p>
                </div>
            </div>
            <a class="hjelpLink" href="hjelp">Jeg vet ikke hva jeg skal gjøre</a>
        <%})%>
    <%} else {%>
        <p>There is nothing to display</p>
    <%}%>
<%- include('partials/footer.ejs') %>