<%- include('partials/header.ejs') %>
<form action="/item" method="post">
    <div class="inputH">
        <div class="group">
            <label for="">Quote</label>
            <input name="quote" type="text" placeholder="input" required>
            <span class="highlight"></span>
            <span class="bar"></span>
        </div>
        <div class="group">
            <label for="">Author</label>
            <input name="author" type="text" placeholder="input" required>
            <span class="highlight"></span>
            <span class="bar"></span>
        </div>
        <button type="submit">Apply</button>
</div>
</form>
<%- include('partials/footer.ejs') %>