<%- include('partials/header.ejs') %>
<form action="/item" method="post">
    <div class="inputH">
        <div class="group">
            <label for="">Input 1</label>
            <input name="input1" class=""type="text" placeholder="input" required>
            <span class="highlight"></span>
            <span class="bar"></span>
        </div>
        <div class="group">
            <label for="">Input 2</label>
            <input name="input2" class=""type="text" placeholder="input" required>
            <span class="highlight"></span>
            <span class="bar"></span>
        </div>
        <div class="group">
            <label for="">Input 3</label>
            <input name="input3" class=""type="text" placeholder="input" required>
            <span class="highlight"></span>
            <span class="bar"></span>
        </div>
        <button type="submit">Apply</button>
</div>
</form>
<%- include('partials/footer.ejs') %>