<%- include(partials/header.ejs) %>

<div>
    <form action="" method="post">
        
        <h3>What is your</h3>
        <input name="loginU" type="text" placeholder="Username?">
        <h3>And what is your</h3>
        <input name="loginP" type="password" placeholder="Password?">

    </form>
</div>
<%- include(partials/footer.ejs) %>