<%- include('partials/header.ejs') %>

<div class="getinDiv">
    <form action="" method="post">
        
        <h3>What is your</h3>
        <input class="getinInput" name="loginU" type="text" placeholder="Username?">
        <h3>And what is your</h3>
        <input class="getinInput" name="loginP" type="password" placeholder="Password?">

    </form>
    
    <a class="alreadyLink" href="signup">Har du ikke en bruker?</a>

</div>


<%- include('partials/footer.ejs') %>