<%- include('partials/header.ejs') %>

<h1 class="headerText">Sign Up</h1>

<div class="getinDiv">
    <form action="/signup" method="post">
        <h3>What is your</h3>
        <input class="getinInput" name="email" type="text" placeholder="Email">
        <h3>What is your</h3>
        <input class="getinInput" name="password" type="password" placeholder="Password?">
        <h3>Confirm password</h3>
        <input class="getinInput" name="repeatPassword2" type="password" placeholder="Confirm password"><br><br>

        <button type="submit">Sign-up</button>

    </form>
    <div class="linkDiv">
        <a class="alreadyLink" href="login">Har du en bruker?</a>
    </div>
</div>

<%- include('partials/footer.ejs') %>