<%- include('partials/header.ejs') %>

<h1 class="headerText">Sign Up</h1>

<div class="getinDiv">
    <form>
        <h3>What is your</h3>
        <input class="getinInput" name="signupN" type="text" placeholder="Email">
        <h3>What is your</h3>
        <input class="getinInput" name="signupU" type="text" placeholder="Username?">
        <h3>And what is your</h3>
        <input class="getinInput" name="signupP" type="password" placeholder="Password?">
        <h3>Confirm password</h3>
        <input class="getinInput" name="signupP" type="password" placeholder="Confirm password"><br><br>

        <button type="post">Sign-up</button>

    </form>
    <div class="linkDiv">
        <a class="alreadyLink" href="login">Har du en bruker?</a>
    </div>
</div>

<%- include('partials/footer.ejs') %>