<%- include('partials/header.ejs') %>
    <%if(Items.length > 0){%>
        <%Items.forEach(items => {%>
            <div class="item-content">

                <div>
                    <h1 class="quoteText">"<%=items.quote%>"</h1>
                    <p class="authorText"><%=items.author%></p>
                </div>
                <div class="containerB">
                    <button type="submt" class="editButton">Edit</button>
                    <button type="submit" class="deleteButton">Delete</button>
                </div>
            </div>
            
        <%})%>
    <%} else {%>
        <p>There is nothing to display</p>
    <%}%>
<%- include('partials/footer.ejs') %>